Función
* Seleccionar un documento con Unique para trasladarlo a un dataset temporal
* Verificar si contiene una de las cuentas tipo "Cash and Equivalent"
  * En caso afirmativo agregar los registros al dataframe df_mov_cash
  * En caso negativo agregar los registros al dataframe df_mov_nocash

Hacer una funcón que tome el dataframe df_Mov_99 y seleccione cada grupo de registros cuyo campo DOCUMENTO sea igual. 

A cada grupo de registros le aplique la siguiente lógica: 
* Si alguno de los registros tiene el contenido de la lista "cod_cont_fcd", guardar los registros de en un dataframe llamado "df_mov_fcd" 
* Si ninguno de los registros tiene el contenido de la lista "cod_cont_fcd", no guardar los registros de en un dataframe llamado "df_mov_fcd"

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
# Cambia el directorio de trabajo a 'C:/path/to/your/directory'
# os.chdir('C:/Emprendimiento/Pry_Datos/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

c:\Emprendimiento

In [3]:
# Lectura de archivo xlsx: previamente instalar paquete openpyxl 
df_Mov_99 = pd.read_excel(r'df_Mov_99.xlsx')

# Muestra las primeras 5 filas del DataFrame
df_Mov_99.head()

,FECHA,DOCUMENTO,TIPODOC,NUMDOC,CUENTA,CONCEPTO,NETO,DEBITO,CREDITO,IDENTIDADTERCERO,DOC_FUENTE,DV,NOMBRETERCERO
0,2023-04-19,FC 00000433,FC,433,51350501,OPERARIO DE ASEO Y LIMPIEZA,2280607.68,2280607.68,0.00,900994552,FEV-2023,3.0,FIXXTER SAS
1,2023-04-19,FC 00000433,FC,433,51350501,OPERARIO DE ASEO Y LIMPIEZA,228060.77,228060.77,0.00,900994552,FEV-2023,3.0,FIXXTER SAS
2,2023-04-19,FC 00000433,FC,433,24081002,OPERARIO DE ASEO Y LIMPIEZA,43331.55,43331.55,0.00,900994552,FEV-2023,3.0,FIXXTER SAS
3,2023-04-19,FC 00000433,FC,433,23355004,OPERARIO DE ASEO Y LIMPIEZA,-2552000.00,0.00,2552000.00,900994552,FEV-2023,3.0,FIXXTER SAS
4,2023-01-01,CC 00000073,CC,73,361005,TRASLADO DE RESULTADOS DE AÑO 2022,-71627508.55,0.00,71627508.55,901513634,CC 00000073,1.0,CO SERVICES S.A.S

In [4]:
cod_cont_fcd = [110505, 112005]

In [5]:
df_Mov_99.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3868 entries, 0 to 3867
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FECHA             3868 non-null   datetime64[ns]
 1   DOCUMENTO         3868 non-null   object
 2   TIPODOC           3868 non-null   object
 3   NUMDOC            3868 non-null   int64
 4   CUENTA            3868 non-null   int64
 5   CONCEPTO          3868 non-null   object
 6   NETO              3868 non-null   float64
 7   DEBITO            3868 non-null   float64
 8   CREDITO           3868 non-null   float64
 9   IDENTIDADTERCERO  3868 non-null   int64
 10  DOC_FUENTE        2812 non-null   object
 11  DV                2268 non-null   float64
 12  NOMBRETERCERO     3868 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 393.0+ KB

In [6]:
import pandas as pd

# Define cod_cont_fcd
cod_cont_fcd = [110505, 112005]

def filter_group(group):
    if group['CUENTA'].isin(cod_cont_fcd).any():
        return group

# Group df_Mov_99 by DOCUMENTO and apply filter_group to each group
df_mov_fcd = df_Mov_99.groupby('DOCUMENTO').apply(filter_group)

df_mov_fcd.head(10)

C:\Users\gusta\AppData\Local\Temp\ipykernel_1108\3593451880.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_mov_fcd = df_Mov_99.groupby('DOCUMENTO').apply(filter_group)

                      FECHA     DOCUMENTO TIPODOC  NUMDOC    CUENTA  \
DOCUMENTO
BNC 00000014 130 2023-01-31  BNC 00000014    BNC       14  53050501
             131 2023-01-31  BNC 00000014    BNC       14  24081002
             132 2023-01-31  BNC 00000014    BNC       14    112005
             133 2023-01-31  BNC 00000014    BNC       14    112005
             134 2023-01-31  BNC 00000014    BNC       14  53050503
             135 2023-01-31  BNC 00000014    BNC       14  24081002
             136 2023-01-31  BNC 00000014    BNC       14    112005
             137 2023-01-31  BNC 00000014    BNC       14    112005
             138 2023-01-31  BNC 00000014    BNC       14  53050502
             139 2023-01-31  BNC 00000014    BNC       14    112005

                                     CONCEPTO      NETO    DEBITO   CREDITO  \
DOCUMENTO
BNC 00000014 130                CUOTA MENSUAL  69200.00  69200.00      0.00
             131                CUOTA MENSUAL  13148.00  13148.00      0.00
             132                CUOTA MENSUAL -69200.00      0.00  69200.00
             133            IVA CUOTA MENSUAL -13148.00      0.00  13148.00
             134         COMISIONES BANCARIAS  67078.92  67078.92      0.00
             135         COMISIONES BANCARIAS  12745.08  12745.08      0.00
             136         COMISIONES BANCARIAS -67078.92      0.00  67078.92
             137         COMISIONES BANCARIAS -12745.08      0.00  12745.08
             138  CUOTA MANEJO TARJETA DEBITO  12990.00  12990.00      0.00
             139  CUOTA MANEJO TARJETA DEBITO -12990.00      0.00  12990.00

                  IDENTIDADTERCERO    DOC_FUENTE   DV NOMBRETERCERO
DOCUMENTO
BNC 00000014 130         890903938  BNC 00000014  8.0   BANCOLOMBIA
             131         890903938  BNC 00000014  8.0   BANCOLOMBIA
             132         890903938  BNC 00000014  8.0   BANCOLOMBIA
             133         890903938  BNC 00000014  8.0   BANCOLOMBIA
             134         890903938  BNC 00000014  8.0   BANCOLOMBIA
             135         890903938  BNC 00000014  8.0   BANCOLOMBIA
             136         890903938  BNC 00000014  8.0   BANCOLOMBIA
             137         890903938  BNC 00000014  8.0   BANCOLOMBIA
             138         890903938  BNC 00000014  8.0   BANCOLOMBIA
             139         890903938  BNC 00000014  8.0   BANCOLOMBIA

In [7]:
df_mov_fcd.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 944 entries, ('BNC 00000014', 130) to ('RC  00000057', 3861)
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FECHA             944 non-null    datetime64[ns]
 1   DOCUMENTO         944 non-null    object
 2   TIPODOC           944 non-null    object
 3   NUMDOC            944 non-null    int64
 4   CUENTA            944 non-null    int64
 5   CONCEPTO          944 non-null    object
 6   NETO              944 non-null    float64
 7   DEBITO            944 non-null    float64
 8   CREDITO           944 non-null    float64
 9   IDENTIDADTERCERO  944 non-null    int64
 10  DOC_FUENTE        340 non-null    object
 11  DV                598 non-null    float64
 12  NOMBRETERCERO     944 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 178.0+ KB

In [8]:
neto_sum = df_mov_fcd['NETO'].sum()
print(neto_sum)

3.259629011154175e-08

In [12]:
# Select records where 'CUENTA' is 112005 and sum 'NETO'
sum_neto = df_Mov_99.loc[df_Mov_99['CUENTA'] == 112005, 'NETO'].sum()
sum_neto

9132674.500000041

In [ ]:
print(len(df_mov_fcd))

944